.our-menu 
{
	background: url(../images/our-menu-bg-1.png) left top no-repeat, url(../images/our-menu-bg-3.jpg);
	background-size: inherit;
}

.our-menu .menu-container
{
	padding: 3rem 0;
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(50rem,2fr));
	gap: 5rem 10rem;
}

.our-menu .menu-container .item .item-name
{
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
	margin-top: .5rem;
}

.our-menu .menu-container .item .item-menu
{
	padding: 3px;
}

.our-menu .menu-container .item .item-name h2
{
	font-size: 3rem;
	color: #e5e5e5;
	font-weight: 300;
}
.our-menu .menu-container .item .item-menu h3
{
	font-size: 2rem;
	color: #e5e5e5;
	font-weight: 200;
	display: inline-block;
}



.our-menu .menu-container .item .item-menu span
{
	width: 40%;
	display: inline-block;
	border: 1px dotted #e5e5e5;
}


.our-menu .menu-container .item .item-menu ul
{
	display: inline;
	font-size: 1.5rem;
	list-style: none;
	padding: .8rem 0;
	font-weight: 200;

}

.our-menu .menu-container .item .item-menu ul li a
{
	color: #b9b9b9;
	padding: 7px;

}


.fa {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	align-items: center;
	margin-top: 15%;
  }
  .fa:hover {
	opacity: 0.7;

  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
	background: #3B5998;
	color: white;
  }
  
  /* Twitter */
  .fa-twitter {
	background: #55ACEE;
	color: white;
  }

  input{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0px;
	box-sizing: border-box;
  }

  #button1{

	margin-left: 42%;
	margin-top: 2%;
  }

.base_body{
	background-image: url(https://images.pexels.com/photos/4551154/pexels-photo-4551154.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); 
	background-repeat: no-repeat; 
	background-size: cover;
}

#button2{

	margin-top: 2%;
}
